extends layout

block content
  h1= title

  h3 Filters
        form.sort(method='GET' action='')
          label
            select#firstname.form-control(type='select'  name='firstname' required='true')
              option(value='name') First name
              option(value='asc') ASC
              option(value='desc') DESC
          label 
            select#familyname.form-control(type='select'  name='familyname' required='true')
              option(value='name') Family name
              option(value='asc') ASC
              option(value='desc') DESC
          label
            select#dateofbirth.form-control(type='select' name='dateofbirth' required='true')
              option(value='date') Date of birth
              option(value='asc') ASC
              option(value='desc') DESC
          label
            select#dateofdeath.form-control(type='select' name='dateofdeath' required='true')
              option(value='date') Date of death
              option(value='asc') ASC
              option(value='desc') DESC

          button.btn.btn-primary(type='submit') Sort
  hr
  
  ul
    each author in author_list
      li 
        a(href=author.url) #{author.name} 
        |  (#{author.date_of_birth_formatted} - #{author.date_of_death_formatted})
    else
      li There are no authors.
    