extends layout

block content

  h1 Library: #{library.name}
  
  p #[strong Title:] 
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  ul
    each bookinstance in library_list
        li 
            a(href=bookinstance.url) #{bookinstance.book}
            | (#{bookinstance.imprint} | #{bookinstance.due_back}) 
            each status in bookinstance.status
                p #{status}
    else
        p This Library has no bookinstances

  p #[strong City:] #{library.city} 
      