extends layout

block content
  h1 #{library.name}
  
  p #[strong City:] 
    p #{library.city}
  p #[strong Books:]&nbsp;
    ul
    each book in library.books
      li Title: 
        a(href=book.book.url) #{book.book.title}&nbsp;
        | | Imprint:  
        a(href=book.url) #{book.imprint}

      
    else
      p There are no books in this library.

  hr
  p
    a(href=library.url+'/delete') Delete Library
  p
    a(href=library.url+'/update') Update Library